openapi: '3.0.2'
info:
  title: Sample EC api
  description: sample ec for leaning
  version: 0.0.0
servers:
  - url: https://api.server.sample-ec/api/v1
paths:
  /items:
    post:
      summary: Create an item.
      requestBody:
        description: 記事作成データ
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Item'
      responses:
        '201':
          description: A JSON of the created item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
    get:
      summary: Returns a list of items.
      responses:
        '200':
          description: A JSON array of items.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Item'
  /items/{id}:
    get:
      summary: Returns an item.
      parameters:
        - $ref: '#/components/parameters/ItemId'
      responses:
        '200':
          description: A JSON of the item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
    delete:
      summary: Delete an item.
      parameters:
        - $ref: '#/components/parameters/ItemId'
      responses:
        '200':
          description: A JSON of the deleted item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
components:
  parameters:
    ItemId:
      name: id
      in: path
      description: item id
      required: true
      schema:
        type: integer
        format: int64
  schemas:
    Item:
      type: object
      description: 商品
      properties:
        id:
          type: integer
          format: int64
          description: 商品ID
          example: 1
          readOnly: true
        name:
          type: string
          description: 商品名
          example: トマト
        price:
          type: integer
          format: int64
          description: 価格
          example: 100
        